:host {
  display: block;
}

.badge {
  width: 100%;
  margin: 0;
  padding-left: 7px;
  text-align: left;
  display: block;
  line-height: 24px;
}

textarea {
  padding: 5px;
}

app-dropdown {
  float: right;
}
