:host {
  display: block;
}

.badge {
  width: 100%;
  margin: 0;
  padding-left: 7px;
  text-align: left;
  display: block;
  line-height: 24px;
}

textarea {
  padding: 5px;
}

clr-icon {
  float: right;
  margin-top: 4px;
  /* visibility: hidden; */
}
