<table class="table table-vertical table-compact">
  <tbody>
    <tr>
      <th class="hour-col">&nbsp;</th>
      <th>SUN</th>
      <th>MON</th>
      <th>TUE</th>
      <th>WED</th>
      <th>THU</th>
      <th>FRI</th>
      <th>SAT</th>
    </tr>
    <tr *ngFor="let hour of hours">
      <th class="hour-col">{{hour}}:00</th>
      <td
        *ngFor="let day of days"
        cdkDropList
        #hourSlot
        [id]="ids[day][hour]"
        [cdkDropListConnectedTo]="connections[day][hour]"
        [cdkDropListData]="entryState[day][hour]"
        (click)="newEntry(day, hour)"
        (cdkDropListDropped)="drop($event)"
      >
        <app-entry
          cdkDrag
          cdkDragHandle
          *ngFor="let state of entryState[day][hour]"
          [state]="state"
          (deleteMe)="deleteEntry(day, hour, state)"
          (click)="($event).stopPropagation()"
        >DragItem</app-entry>
      </td>
    </tr>
  </tbody>
</table>
